.underline-active {
    width: 100%;
    height: 2px;
}

.tab-links{
    margin-right:50px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents{
    display: none;
}

.tab-contents.active-content{
    display: block;
}